.app {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background: 
      url('./assets/img/bg.png'),
      url('./assets/img/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
